{% extends 'base.html.twig' %}

{% block title %}Le Dash{% endblock %}

{% block body %}

<div class="w-75 mx-auto mt-4">
    <table class="table table-warning">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Thème</th>
                <th scope="col">Source</th>
                <th scope="col">Titre</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <th type="button" data-toggle="collapse" data-target="#collapseExample{{ post.id }}" aria-expanded="false" aria-controls="collapseExample">{{ post.date.date }}</th>
                <div class="collapse" id="collapseExample{{ post.id }}">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <td>{{ post.idTheme.name }}</td>
                <td>{{ post.idSource.name }}</td>
                <td>{{ post.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>  
</div>
{% endblock %}
